.date-picker:editable{
    -fx-border-radius: 40;
    -fx-background-radius: 40;
}

.date-picker:editable .arrow-button{
    -fx-background-radius: 0 40 40 0;
    -fx-border-color: #4e4e4e;
    -fx-border-radius: 0 40 40 0;
    -fx-background-color: white;
    -fx-border-width: 1 1 1 0
}

.date-picker:editable .date-picker-display-node{
    -fx-background-radius: 40 0 0 40;
    -fx-border-radius:40 0 0 40;
    -fx-border-width: 1 0 1 1
}

.text-field{
    -fx-border-color: #4e4e4e;
    -fx-border-radius: 40;
    -fx-background-radius: 40;
}

.text-field:focused{
    -fx-background-color: #c1e5ff;
}

.btn-exit{
    -fx-background-color: white;
    -fx-background-radius: 100%;
    -fx-border-color: red;
    -fx-border-radius: 100%;
    -fx-border-width: 2px;
    -fx-text-fill: red;
}

.btn-exit:hover{
    -fx-background-color: red;
    -fx-text-fill: white;
}

.btn-confirm{
    -fx-background-color: white;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-border-color: #48d148;
    -fx-border-width: 3px;
    -fx-text-fill: #48d148;
}

.btn-confirm:hover{
    -fx-background-color:#48d148;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, #92d0ff,12,0.1,3,3);
}